/* Estilos de index */
.menu li {
    display: inline;  
    padding: 15px;
}

.setPurple {
    color: purple;
}

.center {
    text-align: center;
}

/* Estilos de contato */
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.padding15 {
    padding: 15px;
}

.spaceAround {
    justify-content: space-between;
}

.container > .divson {
    background-color: #f1f1f1;
    width: 400px;
    margin: 10px;
    font-size: 20px;
}